.container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .content {
  padding: 24px;
  background: #dbdbdb;
  border-radius: 8px;
}

.btn-position {
  margin: 10px;
}

.custom-table {
  max-width: 800px;
  border: 1px solid #000;
  margin: 30px 0;
}
