.container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .content {
  padding: 24px;
  background: #dbdbdb;
  border-radius: 8px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 8px;
}
